@media (min-width: 779px) {

    .menu_barra{
        background: #D8DFE8;
        height: 40px;
        top: 0;
        left: 0;
        position: fixed;
    }

    .logo{
        padding-top: 5px;
        margin-left: 10px;
        width: 60px;
        height: 25px;
    }

    #logo_menu{
        display: none;
    }

    #menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 60px;
        height: auto;
        width: 100%;
        background-color: #D8DFE8;
        padding: 10px 0;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;    
    }

    nav ul li {
        display: inline-block;
        margin-right: 10px;
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        padding: 5px 10px;
        
    }

    #boton_d_encriptar{
        background-color: #D8DFE8;
    }

    #encriptar_archivo{
        display: none;
    }

    #desencriptar_archivo{
        display: none;
    }
    
    #boton_d_encriptar{
        border: none;
    }

    #descargar_historial_chat{
        border:none;
        background: #D8DFE8;
    }

    #info_e_d{
        padding-top: 15px;
        margin-bottom: 0;
        color:#0A3871;
    }

    .chat {
        background-image: url(../docs/imgs/Muñeco.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        margin: 0 auto;
        white-space: nowrap;    
    }
    
    .chat_mensajes {
        height: 480px;
        overflow-y: scroll;
        border: 2px solid #0A3871;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .mensajes_entrada{
        align-self: flex-start;    
        background-color: #0A3871;
        color:white;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 70%;
    }

    .mensajes_salida{
        align-self: flex-end;
        background-color: #f1f1f1;
        color:#0A3871;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 70%;
    }

    .chat_entrada {
        display: flex;
        margin-top: 10px;  
        border-radius: 20px;
        border: 2px solid #0A3871;
        padding: 5px; 
    }

    #entrada{
        border:none;
        outline: none;
    }

    .chat_entrada input[type="text"] {
        flex: 1;
        padding: 5px;
    }

    .chat_entrada button {
        padding: 5px 10px;
    }

    #btn_enviar{
        background-color: #0A3871;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    footer {
        margin-top: 8px;
        background-color: #D8DFE8;
        padding: 10px;
        text-align: center;
    }

    .sobre_nosotros{
        padding-top: 1%;
        background-color: #e0e6ee;
        /*margin: 10px 12px 10px 12px;*/
        height: 550px;
        margin-top: 55px;
        margin-bottom: 10px;    
        width: auto;
        margin-left:12%;
        margin-right:12%;
        text-align: center;
        justify-content: center;
    }

    #titulo_sobre_nosotros{
        justify-content: center;
        size:5px;
    }

    article{
        display: inline-block;
        text-align: left;
    }
}

@media (max-width:  779px) {

    .menu_barra{
        background: #D8DFE8;
        width: 100%;
        height: 40px;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        margin-left: 10px;
        width: 50px;
        height: 25px;
    }

    #logo_menu{ 
        background-color: #0A3871;
        color: #fff;
        border: none;
        border-radius: 5px;
    }

    #boton_menu_barra{        
        margin-right: 10px;
        background-color: #0A3871;
        color: #fff;
        border: none;
    }


    #menu{
        display: inline; 
        position: fixed;
        padding: 10px 0;
        margin-top: 25px;
        width: 58%;
        top: 0;
        left: 0;
        position: fixed;
        background-color: #D8DFE8;
        transition: transform 0.5s ease;
    }

    .hidden {
        transform: translateX(-100%);
        opacity: 1;
    }
      
    .visible {
        transform: translateX(0);
        opacity: 1;
    }

    nav div{
        width: 100%;
    }

    nav ul li {
        width: 100%;
        padding: 5px;
        margin-left: -30px;
        display: block;
        float: none;
        border-bottom: 1px solid #0A3871;
    }

    #boton_d_encriptar{
        background-color: #D8DFE8;
    }

    #encriptar_archivo{
        display: none;
    }

    #desencriptar_archivo{
        display: none;
    }

    #descargar_historial_chat{
        border:none;
        background: #D8DFE8;
    }
    
    #boton_d_encriptar{
        border: none;
    }


    #info_e_d{
        width: auto;
        padding-top: 27px;
        margin-bottom: 0;
        color:#0A3871;
    }

    .chat {
        background-image: url(../docs/imgs/Muñeco.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        margin: 0% auto;
        white-space: nowrap;    
    }
    
    .chat_mensajes {
        height: 480px;
        overflow-y: scroll;
        border: 2px solid #0A3871;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .mensajes_entrada{
        align-self: flex-start;    
        background-color: #0A3871;
        color:white;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 70%;
    }

    .mensajes_salida{
        align-self: flex-end;
        background-color: #f1f1f1;
        color:#0A3871;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        max-width: 70%;
    }

    .chat_entrada {
        display: flex;
        margin-top: 10px;  
        border-radius: 20px;
        border: 2px solid #0A3871;
        padding: 5px; 
    }

    #entrada{
        border:none;
        outline: none;
    }

    .chat_entrada input[type="text"] {
        flex: 1;
        padding: 5px;
    }

    .chat_entrada button {
        padding: 5px 10px;
    }

    #btn_enviar{
        background-color: #0A3871;
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }

    footer {
        background-color: #D8DFE8;
        padding: 10px;
        text-align: center;
    }

    .sobre_nosotros{
        padding-top: 1%;
        background-color: #e0e6ee;
        /*margin: 10px 12px 10px 12px;*/
        height: 550px;
        margin-top: 55px;
        margin-bottom: 10px;    
        width: auto;
        margin-left:12%;
        margin-right:12%;
        text-align: center;
        justify-content: center;
    }

    #titulo_sobre_nosotros{
        justify-content: center;
        size:5px;
    }

    article{
        display: inline-block;
        text-align: left;
    }

}